blinker
click
colorama
contourpy
cycler
distlib
filelock
Flask
fonttools
gunicorn
iniconfig
itsdangerous
Jinja2
kiwisolver
MarkupSafe
numpy
packaging
Pillow
platformdirs
pluggy
pyparsing
pytest
python-dateutil
six
virtualenv
Werkzeug
