<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/basic.css">
    <title>Links</title>
</head>
<body>
    <h2>My Links</h2>
    <div class="menu-link">
        <a href="/Placeholder/Page3">Other Page (page 3 placeholder)</a>
    </div>
    <button onclick="window.location.href='/'">Back to Home</button>
    <div class="social-links">
        <a href="https://www.linkedin.com" target="_blank">LinkedIn</a>
        <a href="https://www.twitter.com" target="_blank">Twitter</a>
        <a href="https://www.facebook.com" target="_blank">Facebook</a>
    </div>
</body>
</html>
